Semana2Client/src/META-INF/wsdl/localhost_8080/Semana2/WS02.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Eclipse Metro/2.4.8 (RELEASE-2.4.8-e044505; 2022-01-04T13:29:23+0000) JAXWS-RI/2.3.5 JAXWS-API/2.3.3 JAXB-RI/2.3.5 JAXB-API/2.3.3 git-revision#e044505. --><xs:schema xmlns:tns="http://ws.company.pe/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.company.pe/">

<xs:element name="buscarID" type="tns:buscarID"/>

<xs:element name="buscarIDResponse" type="tns:buscarIDResponse"/>

<xs:element name="coleccion" type="tns:coleccion"/>

<xs:element name="coleccionResponse" type="tns:coleccionResponse"/>

<xs:complexType name="coleccion">
<xs:sequence>
<xs:element name="cod" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="coleccionResponse">
<xs:sequence>
<xs:element name="return" type="tns:empleado" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="empleado">
<xs:sequence>
<xs:element name="fecha_contrato" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id_empleado" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="profesion" type="xs:string" minOccurs="0"/>
<xs:element name="sueldo" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarID">
<xs:sequence>
<xs:element name="cod" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarIDResponse">
<xs:sequence>
<xs:element name="return" type="tns:empleado" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>