Semana4_Examen_Client/xml-resources/web-service-references/BicicletaWs/wsdl/localhost_8080/Semana4_Examen/BicicletaWs.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Eclipse Metro/2.4.8 (RELEASE-2.4.8-e044505; 2022-01-04T13:29:23+0000) JAXWS-RI/2.3.5 JAXWS-API/2.3.3 JAXB-RI/2.3.5 JAXB-API/2.3.3 git-revision#e044505. --><xs:schema xmlns:tns="http://ws.company.pe/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.company.pe/">

<xs:element name="buscarPorStock" type="tns:buscarPorStock"/>

<xs:element name="buscarPorStockResponse" type="tns:buscarPorStockResponse"/>

<xs:complexType name="buscarPorStock">
<xs:sequence>
<xs:element name="stockIngresado" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarPorStockResponse">
<xs:sequence>
<xs:element name="return" type="tns:bicicletaPlanoVo" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="bicicletaPlanoVo">
<xs:sequence>
<xs:element name="codigoBici" type="xs:string" minOccurs="0"/>
<xs:element name="idBici" type="xs:int"/>
<xs:element name="nombreBici" type="xs:string" minOccurs="0"/>
<xs:element name="stock" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>